*.pdf
!important_document.pdf 
*.png
*.jpg
*.jpeg

*.yml

*.spec

build/
dist/
*.pkg


# Ignore log files
*.log

# Ignore temporary files and caches
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment
venv/
.env/